@model PostCommentModel

<form method="post" class="mt-3 mb-3" asp-controller="Home" asp-action="AddComment">
	<h6 class="display-6">Add Comment 💬</h6>
	@Html.HiddenFor(v => v.PostId)

	<span asp-validation-for="@Model.CommentText" class="text-danger"></span>
	<textarea asp-for="@Model.CommentText" class="form-control mb-3" rows="6"></textarea>
	<input type="submit" class="btn btn-success mt-3" value="Comment 💬" />
</form>

@section Scripts {
		<partial name="_ValidationScriptsPartial" />
}